.music-list {
  margin: 10px;
  padding: 10px;
  background-color: rgba(2, 213, 213, 0.828);
  border-radius: 10px;
}

.music-list h3 {
  text-align: center;
}

.music-list li {
  background-color: rgba(245, 245, 245, 0.414);
  border-radius: 2px;
  box-shadow: 5px 5px 5px lightgray;
}

.music-list li:hover {
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgb(70, 70, 70);
  cursor: pointer;
  transition: .2s;
}